<div class="content-header">
  <button id="admin-delete-page" class="icon-btn danger" title="Delete this admin page">
    <img src="/assets/icons/trash-2.svg" alt="Delete" />
  </button>
  <div id="content-breadcrumb"></div>
  <div class="content-header-right">
    <button id="widgets-toggle-inline" class="icon-btn" title="Add widget">
      <img src="/assets/icons/plus.svg" alt="Add widget" />
    </button>
  </div>
  <div class="editor-quick-actions">
    <button id="edit-toggle" class="icon-btn" title="Edit layout">
      <img src="/assets/icons/square-pen.svg" alt="Edit layout" />
    </button>
  </div>
</div>
