<div class="main-header">
  <div class="logo">
    <img src="/assets/icons/blogpostercms-logo.svg" class="logo-icon" />
  </div>
  <nav class="nav-icons">
    <a href="/admin/home"><img src="/assets/icons/house.svg" class="icon" /> Home</a>
    <a href="/admin/content"><img src="/assets/icons/file-box.svg" class="icon" /> Content</a>
    <a href="/admin/settings"><img src="/assets/icons/settings.svg" class="icon" /> Settings</a>
  </nav>
  <div class="right-icons">
    <a href="/" id="home-link"><img src="/assets/icons/globe.svg" class="icon" /></a>
    <div class="search-container">
      <img src="/assets/icons/search.svg" id="search-toggle" class="icon" />
      <input type="text" id="admin-search-input" placeholder="Search pages" />
      <ul id="admin-search-results" class="search-results"></ul>
    </div>
    <a href="#" id="user-link"><img src="/assets/icons/user.svg" class="icon" /></a>
    <img id="logout-icon" src="/assets/icons/log-out.svg" class="icon" />
  </div>
</div>
<div id="notification-hub" class="notification-hub" hidden>
  <ul></ul>
</div>
