@use './base' as p;

.permissions-card {
  @include p.page-list-card;
}

.permissions-title-bar {
  @include p.page-title-bar;
}

.permissions-title {
  @include p.page-title;
}

.permissions-list {
  @include p.page-list;
}

.roles-list {
  @include p.page-list;
}

.permissions-list .empty-state {
  @include p.page-list-empty-state;
}

.roles-list .empty-state {
  @include p.page-list-empty-state;
}

.permissions-list li {
  @include p.page-list-item;
}

.roles-list li {
  @include p.page-list-item;
}

.roles-list .page-name-row {
  @include p.page-name-row;
}

.roles-list .page-actions {
  @include p.page-actions;
}

.add-permission-btn {
  @include p.add-page-btn;
}

.add-group-btn {
  @include p.add-page-btn;
}

.permissions-sub-title {
  font-family: var(--font-heading);
  font-size: 18px;
  margin-top: 8px;
}
